/*
* Gallery and Gallery-boxes including grid layout, spacing, shadow, details on hover etc
*/

.gallery {
  padding-top: 8vh;
}

/* Formatting boxes*/
.galleryFigure {
  margin-bottom: 10vh;
  margin-inline: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-left: 10vw;
  width: 80vw;
}

.galleryFigure > .galleryFigureImage {
  flex: 50%;
  max-height: 80vh;
  max-width: 50vw;
  object-fit: contain;
  object-position: right;
  margin-left: auto;
  /*
  box-shadow: 0.25vw 0.25vw 0.25vw var(--w4a-border);
  background-color: var(--w4a-background-secondary);
  */
}

.galleryFigureCaption {
  flex: 50%;
  font-size: small;
  text-align: right;
  margin-top: auto;
  padding-right: 1.5em;
}

/*
@media screen and (hover: hover) {
  .galleryFigureCaption {
    opacity: 0.75;
    transition: opacity 0.5s ease-in-out;
  }
  .galleryFigureCaption:hover {
    opacity: 1;
  }
}
*/
.galleryFigureCaptionTitle {
  display: inline;
  font-size: medium;
  font-weight: lighter;
}

/* Sizing boxes */
/*
.galleryFigure {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.galleryFigureImage {
  flex-grow: 1;
  flex-shrink: 1;
}

.galleryFigureCaption {
  flex-grow: 0;
  flex-shrink: 0;
}
*/

/* Scroll behavior */
/* More bugs then features...
html {
  scroll-snap-type: y mandatory;
}
body { 
  scroll-snap-type: y mandatory;
}
.galleryFigure, .scrollTarget  {
  overflow: hidden;
  scroll-snap-align: center;
}
*/