/*
* Gallery and Gallery-boxes including grid layout, spacing, shadow, details on hover etc
*/

/* Formatting boxes*/
.galleryFigure {
  margin-bottom: 10vh;
}

.galleryFigure > .galleryFigureImage {
  height: 80vh;
  width: 100%;
  min-height: 0;
  min-width: 0;
  object-fit: contain;
  display: block;
  margin: auto;
  /*
  box-shadow: 0.25vw 0.25vw 0.25vw var(--w4a-border);
  background-color: var(--w4a-background-secondary);
  */
}

.galleryFigureCaption {
  font-size: small;
  text-align: center;
}

.galleryFigureCaptionTitle {
  font-size: medium;
  font-weight: lighter;
}

/* Sizing boxes */
/*
.galleryFigure {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.galleryFigureImage {
  flex-grow: 1;
  flex-shrink: 1;
}

.galleryFigureCaption {
  flex-grow: 0;
  flex-shrink: 0;
}
*/

/* Scroll behavior */
html {
  scroll-snap-type: y mandatory;
}
body { 
  scroll-snap-type: y mandatory;
}
.galleryFigure, .scrollTarget  {
  overflow: hidden;
  scroll-snap-align: center;
}
